h1 {
    font-weight: bold;
    font-size: 32px;
}

.p-floats{
    float: left;
    padding-right: 15px;
    font-size: 2em;
}

#gletters{
    clear: both;
}

.clear-both{
    float: left;
    clear: both;
}